In [1]:
import sqlhelpers as sh

In [2]:
# %load Exercise Files\\Chapters\\sql-chap07.txt
-- 02 DATE/TIME functions
-- :memory:

SELECT DATETIME('now');
SELECT DATE('now');
SELECT TIME('now');
SELECT DATETIME('now', '+1 day');
SELECT DATETIME('now', '+3 days');
SELECT DATETIME('now', '-1 month');
SELECT DATETIME('now', '+1 year');
SELECT DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years');

# Date and time related functions

_The below functions are specific to SQLite and may not work on other database systems_

In [3]:
q = "SELECT DATETIME('now');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATETIME('now'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
       DATETIME('now')
0  2019-12-29 11:23:12

In [4]:
q = "SELECT DATE('now');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATE('now'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  DATE('now')
0  2019-12-29

In [5]:
q = "SELECT TIME('now');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT TIME('now'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  TIME('now')
0    11:23:12

In [6]:
q = "SELECT DATETIME('now', '+1 day');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATETIME('now', '+1 day'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  DATETIME('now', '+1 day')
0       2019-12-30 11:23:12

In [7]:
q = "SELECT DATETIME('now', '+3 days');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATETIME('now', '+3 days'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  DATETIME('now', '+3 days')
0        2020-01-01 11:23:12

In [8]:
q = "SELECT DATETIME('now', '-1 month');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATETIME('now', '-1 month'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  DATETIME('now', '-1 month')
0         2019-11-29 11:23:12

In [9]:
q = "SELECT DATETIME('now', '+1 year');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATETIME('now', '+1 year'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  DATETIME('now', '+1 year')
0        2020-12-29 11:23:12

In [10]:
q = "SELECT DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  DATETIME('now', '+3 hours', '+27 minutes', '-1 day', '+3 years')
0                                2022-12-28 14:50:12