In [1]:
import sqlhelpers as sh

In [2]:
# %load Exercise Files\\Chapters\\sql-chap05.txt

# Finding the length of a string

In [3]:
# testing the length function
q = "SELECT LENGTH('string');"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT LENGTH('string'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
   LENGTH('string')
0                 6

In [4]:
# the length function in a query
q = "SELECT Name, LENGTH(Name) AS Len FROM City ORDER BY Len DESC;"
sh.query_result_stats(q, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT Name, LENGTH(Name) AS Len FROM City ORDER BY Len DESC; |||

There are 4079 rows in the query results table
There are 2 columns in the query results table

First 5 rows of the query results:
                                Name  Len
0  Luxembourg [Luxemburg/Lëtzebuerg]   33
1     San Fernando del Valle de Cata   30
2     Santo Domingo de los Colorados   30
3     Castellón de la Plana [Castell   30
4     Thiruvananthapuram (Trivandrum   30

# Selecting part of a string

In [6]:
# using substring function
q = """
SELECT released,
    SUBSTR(released, 1, 4) AS year,
    SUBSTR(released, 6, 2) AS month,
    SUBSTR(released, 9, 2) AS day
  FROM album
  ORDER BY released;
"""
sh.query_result_stats(q, "album.db")

### Query Summary ###

DATABASE QUERIED: album.db
QUERY: |||
SELECT released,
    SUBSTR(released, 1, 4) AS year,
    SUBSTR(released, 6, 2) AS month,
    SUBSTR(released, 9, 2) AS day
  FROM album
  ORDER BY released;
 |||

There are 7 rows in the query results table
There are 4 columns in the query results table

First 5 rows of the query results:
     released  year month day
0  1959-08-17  1959    08  17
1  1965-12-03  1965    12  03
2  1971-05-00  1971    05  00
3  1972-01-00  1972    01  00
4  1973-03-00  1973    03  00

In [8]:
# Removing spaces

q1 = "SELECT '   string   ';"
q2 = "SELECT TRIM('   string   ');"
q3 = "SELECT TRIM('   string   string   ');"
q4 = "SELECT LTRIM('   string   ');"
q5 = "SELECT RTRIM('   string   ');"
q6 = "SELECT '...string...';"
q7 = "SELECT TRIM('...string...', '.');"


sh.query_result_stats(q1, "album.db")
sh.query_result_stats(q2, "album.db")
sh.query_result_stats(q3, "album.db")
sh.query_result_stats(q4, "album.db")
sh.query_result_stats(q5, "album.db")
sh.query_result_stats(q6, "album.db")
sh.query_result_stats(q7, "album.db")

### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT '   string   '; |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  '   string   '
0      string
### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT TRIM('   string   '); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  TRIM('   string   ')
0               string
### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT TRIM('   string   string   '); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  TRIM('   string   string   ')
0               string   string
### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT LTRIM('   string   '); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  LTRIM('   string   ')
0             string
### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT RTRIM('   string   '); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  RTRIM('   string   ')
0                string
### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT '...string...'; |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  '...string...'
0   ...string...
### Query Summary ###

DATABASE QUERIED: album.db
QUERY: ||| SELECT TRIM('...string...', '.'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
  TRIM('...string...', '.')
0                    string

# Forcing Case

In [10]:
# tests to prove using lower and upper does make it lower and uppercase
# remember 1 represents True and 0 represents False
q1 = "SELECT 'StRiNg' = 'string';"
q2 = "SELECT LOWER('StRiNg') = LOWER('string');"
q3 = "SELECT UPPER('StRiNg') = UPPER('string');"

sh.query_result_stats(q1, "world.db")
sh.query_result_stats(q2, "world.db")
sh.query_result_stats(q3, "world.db")

### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT 'StRiNg' = 'string'; |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
   'StRiNg' = 'string'
0                    0
### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT LOWER('StRiNg') = LOWER('string'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
   LOWER('StRiNg') = LOWER('string')
0                                  1
### Query Summary ###

DATABASE QUERIED: world.db
QUERY: ||| SELECT UPPER('StRiNg') = UPPER('string'); |||

There are 1 rows in the query results table
There are 1 columns in the query results table

First 5 rows of the query results:
   UPPER('StRiNg') = UPPER('string')
0                                  1